html {
  line-height: 1.5;
  box-sizing: border-box;
  background-color: #f2f2f2;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin:0;
  padding:0; 
}
header h1 {
  margin:0;
  font-size: 2rem;
  padding:.84em;
  text-align: center;
}
main {
  margin:0 auto;
  padding-left:2%;
  padding-right:2%;
  overflow: hidden;
}
.link-card {
  max-width:25%;
  padding:.78em;
  margin:0 0 1.5rem;
  border-left:solid 1px #333333;
  float:left;

 }
.link-card.first {
  background-color: #e2e2e2;
}
.link-card.second {
  background-color: #cccccc;
}
.link-card.third {
  background-color: #aaaaaa;
}
.link-card.fourth {
  background-color: #999999;
}
.link-card figure {
  margin:0 auto;
  width:100px;
}
.link-card img {
  width:100%;
}
.link-card .title {
  font-weight:700;
}
.link-card .author {
  font-style: italic;
   font-size:.875rem;
  display: block;
}
.btn {
  display: inline-block;
  text-decoration: none;
  color:#fff;
  background-color: #333;
  border:solid 3px #333;
  border-radius: 8px;
  font-size:1.125rem;
  padding:0.4em .75em .3em;
  margin-bottom: 3.6rem;
}
.link-card .book {
  
}
.link-card dd {
  margin:0;
}
.first .btn,.third .btn {

}















